grant codeBase "file:WordCheck.jar"
{   
   permission java.security.AllPermission;
};

grant
{
   permission java.util.PropertyPermission "user.home", "read";
   permission java.util.PropertyPermission "user.dir", "read";
};
