grant 
{  
   permission java.net.SocketPermission 
      "*:1024-65535", "connect";
   permission java.net.SocketPermission 
      "localhost:80", "connect";
};
